CID="462898232557-qn2nge5r7upp7c7bojjtabc67foaq5fv.apps.googleusercontent.com"
CSECRET="pGFbDrG4PF-cspTPOIp-PqSp"
SESSION_SECRET="DCWEWBKZELBFNWPTDEXS"
INFLUXDB_URL="http://localhost:8086"
INFLUXDB_TOKEN="token"
INFLUXDB_ORG="my-org"
INFLUXDB_BUCKET="my-bucket"
